In [20]:
from sklearn.cluster import KMeans
import sklearn.metrics as sm
 
import pandas as pd
import numpy as np

columns = ['A']

In [11]:
df_ = pd.DataFrame(columns=columns)
df_ = df_.fillna(0) # with 0s rather than NaNs

In [38]:
data = np.array([10,10,10,11,11,12,11,10,10,13,14,10,10,10,11,11,10,10,10,10,14,12,11,11,13,13,13,55,54,53,51,52,50,50,50,55,50,50,59,50,55,50,52,53,50,52,51,51,52,55,50,57,59,50,50,57,55,50,51,52,53,53,50,56,55,55,54,55,57,56,56,100,102,103,108,102,105,104,107,109,101,104,102,100,107,101,102,101,102,103,104,101,103,102,102,101,103,105,101]).T

In [39]:
data

array([ 10,  10,  10,  11,  11,  12,  11,  10,  10,  13,  14,  10,  10,
        10,  11,  11,  10,  10,  10,  10,  14,  12,  11,  11,  13,  13,
        13,  55,  54,  53,  51,  52,  50,  50,  50,  55,  50,  50,  59,
        50,  55,  50,  52,  53,  50,  52,  51,  51,  52,  55,  50,  57,
        59,  50,  50,  57,  55,  50,  51,  52,  53,  53,  50,  56,  55,
        55,  54,  55,  57,  56,  56, 100, 102, 103, 108, 102, 105, 104,
       107, 109, 101, 104, 102, 100, 107, 101, 102, 101, 102, 103, 104,
       101, 103, 102, 102, 101, 103, 105, 101])

In [40]:
df = pd.DataFrame(data, columns=columns)

In [41]:
df

     A
0   10
1   10
2   10
3   11
4   11
5   12
6   11
7   10
8   10
9   13
10  14
11  10
12  10
13  10
14  11
15  11
16  10
17  10
18  10
19  10
20  14
21  12
22  11
23  11
24  13
25  13
26  13
27  55
28  54
29  53
30  51
31  52
32  50
33  50
34  50
35  55
36  50
37  50
38  59
39  50
40  55
41  50
42  52
43  53
44  50
45  52
46  51
47  51
48  52
49  55
50  50
51  57
52  59
53  50
54  50
55  57
56  55
57  50
58  51
59  52
   ...

[99 rows x 1 columns]

In [42]:
model = KMeans(n_clusters=3)
model.fit(df)

KMeans(copy_x=True, init='k-means++', max_iter=300, n_clusters=3, n_init=10,
    n_jobs=1, precompute_distances=True, random_state=None, tol=0.0001,
    verbose=0)

In [43]:
model.labels_

array([2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0], dtype=int32)

In [44]:
import theano

/usr/lib/python2.7/dist-packages/scipy/lib/_util.py:35: DeprecationWarning: Module scipy.linalg.blas.fblas is deprecated, use scipy.linalg.blas instead
  DeprecationWarning)
/usr/lib/python2.7/dist-packages/scipy/lib/_util.py:35: DeprecationWarning: Module scipy.linalg.blas.fblas is deprecated, use scipy.linalg.blas instead
  DeprecationWarning)
/usr/lib/python2.7/dist-packages/scipy/lib/_util.py:35: DeprecationWarning: Module scipy.linalg.blas.fblas is deprecated, use scipy.linalg.blas instead
  DeprecationWarning)
/usr/lib/python2.7/dist-packages/scipy/lib/_util.py:35: DeprecationWarning: Module scipy.linalg.blas.fblas is deprecated, use scipy.linalg.blas instead
  DeprecationWarning)
/usr/lib/python2.7/dist-packages/scipy/lib/_util.py:35: DeprecationWarning: Module scipy.linalg.blas.fblas is deprecated, use scipy.linalg.blas instead
  DeprecationWarning)
/usr/lib/python2.7/dist-packages/scipy/lib/_util.py:35: DeprecationWarning: Module scipy.linalg.blas.fblas is deprecated, use scipy.linalg.blas instead
  DeprecationWarning)
/usr/lib/python2.7/dist-packages/scipy/lib/_util.py:35: DeprecationWarning: Module scipy.linalg.blas.fblas is deprecated, use scipy.linalg.blas instead
  DeprecationWarning)
/usr/lib/python2.7/dist-packages/scipy/lib/_util.py:35: DeprecationWarning: Module scipy.linalg.blas.fblas is deprecated, use scipy.linalg.blas instead
  DeprecationWarning)

In [45]:
from theano import tensor as T

In [47]:
a = T.scalar()
b = T.scalar()

In [48]:
y = a*b

In [50]:
multiply = theano.function(inputs=[a,b], outputs=y)

In [51]:
print multiply(1,3)

3.0

In [52]:
print multiply(3,3)

9.0

In [59]:
def test(x, l):
    for i in l:
        print i
        
test(4,[])